<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>788635581157-cbqd92doodmhnns7lce593sfans9udup.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.788635581157-cbqd92doodmhnns7lce593sfans9udup</string>
	<key>API_KEY</key>
	<string>AIzaSyBvj3drnJijnXic1sbvB2Ki8FQbtxDj578</string>
	<key>GCM_SENDER_ID</key>
	<string>788635581157</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.call.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>call-me-98459</string>
	<key>STORAGE_BUCKET</key>
	<string>call-me-98459.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788635581157:ios:b83b63b025407f6ee2320c</string>
</dict>
</plist>